*{
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;

    }
    body{
        margin: 0;
    }
    .navbar {
        height: 12dvh;
        width: 100dvw;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logoHolder {
        height: 10dvh;
        width: 10dvh;
        margin: 2dvh;
        background-image: url("./images/fsulogo.jpg");
        background-size: cover;
        background-color: #ccc;
        float: left;
    }
    .logoAndTitleHolder {
        display: flex;
        align-items: center;
        margin-left: 2dvw;
    }
    .userHolder {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 2dvw;
        
    }
    .profilePicHolder {
        height: 8dvh;
        width: 8dvh;
        background-color: #ccc;
        background-image: url('./images/aadi.jpg');
        background-size: cover;
        margin-right: 1dvw;
        border-radius: 50%;
    }
    .body {
        overflow: hidden;
        display: flex;
        height: 85dvh;
        width: 100dvw;
        background-color: #EDEDED;
    }
    .contentHolder {
        height: 100%;
        width: 95dvw;
        overflow-y: scroll;
    /*border: 1px solid #ccc;*/
    }
    .contentHolder::-webkit-scrollbar {
        display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
    }