<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/fsulogo.jpg')}}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Tracker</title>
</head>
<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
<body>
    <div class="navbar">
        <div class="logoAndTitleHolder">
            <div class="logoHolder"></div>
            <h1>FSU TASK TRACKER</h1>
        </div>
        <div class="userHolder" onclick="document.location='{{url_for('login')}}'">
            <div class="profilePicHolder"></div>
            <h4>Hello {{user_name}}!</h4>
        </div>
    </div>
    <div class="body">
        <div class="contentHolder" id="contentHolder">
            
        </div>
        <div class="sidebar">
            <div class="buttons">
                <button class="add" type="button" onclick="document.location='{{url_for('taskHandler.postTask')}}'">+</button>
            </div>
        </div>
    </div>
</body>
<script>
    function outputData(){
    return {{ client_data|tojson }};
    }
    function editData(i,j){
        document.location= `{{url_for('edit.edit')}}?task_id=${i}&task_id_db=${j}`;
    }
    function deleteData(i,j){
        if(confirm("Are you sure you want to delete this task?")){
            document.location= `{{url_for('taskHandler.deleteTask')}}?task_id=${i}&task_id_db=${j}`;
        }
    }
</script>
<script src="{{url_for('static', filename='script.js')}}"></script>

<script>
       
</script>
</html>